.container {
  max-width: 630px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
.review-img{
  background: #e7e6e6;
  width: 200px;
  height: 70px;
  margin-left: 210px;
}
ul.ks-cboxtags {
  list-style: none;
  padding: 10px;
  margin: 0;
  margin-left: 100px;
}
ul.ks-cboxtags li{
  display: inline;
  margin: 3px;
}
ul.ks-cboxtags li label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: black;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .2s;
}

ul.ks-cboxtags li label {
  padding: 5px 8px;
  cursor: pointer;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #4763a3;
  background-color: #4763a3;
  color: #fff;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
  position: absolute;
  opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #4763a3;
}